<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>PhotoTinder</string>

    <key>NSPhotoLibraryUsageDescription</key>
    <string>Potrzebuję dostępu do Twojej galerii, by wybrać zdjęcia.</string>

    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Potrzebuję dostępu, by oznaczać zdjęcia jako ulubione lub ukryte.</string>
</dict>
</plist>
